main {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#routeName {
    text-transform: lowercase;
    white-space: nowrap;
    font-size: 2.4rem;
}

#climberDetails {
    font-size: 1.2rem;
}
