html {
    font-size: 16px;
    font-family: Sans-Serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.5;
    min-height: 100vh;
    min-width: 300px;
    overflow-x: hidden;
}

.content {
    display: flex;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
}

#routeName {
    text-transform: lowercase;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 2.4rem;
}

#climberDetails {
    font-size: 1.2rem;
}

.padded-multiline span { 
    background-color: rgba(255, 255, 255, 10);
    display: inline;
    padding: 0.45rem; /* Essentially the padding radius */
    line-height: 2.7rem;
    
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone;
}