.content {
    display: flex;
    position: relative;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

main {
    max-width: 70ch;
    padding: 1.5rem;
    margin: auto;
    text-align: center;
}

#routeName {
    text-transform: lowercase;
    font-family: Sans-Serif;
    font-weight: bolder;
    white-space: nowrap;
    font-size: 2.4rem;
}

#climberDetails {
    font-size: 1.2rem;
    font-family: Sans-Serif;
}
